.login-form-container {
    margin:5em;
    padding: 2em;
    display: flex;
    flex-direction: column;
  
  }
  
  mat-form-field {
    margin-bottom: 12px;
  }
  button {
  margin-bottom: 12px;
  }
  button:hover{
 background-color: rgb(0, 174, 255);
  }
  button:active{
    background-color: rgb(14, 105, 121);
  }