<mat-drawer-container class="drawer-container" hasBackdrop="true">
  <mat-drawer #drawer mode="over">
    <mat-nav-list class="nav-list">
      <ng-container *ngFor="let nav of navItems">
        <a class="nav-list-item" (click)="drawer.close()" mat-list-item [routerLink]="nav.routerLink">{{nav.name}}</a>
      </ng-container>
      <a class="nav-list-item" *ngIf="auth.user | async" (click)="logout(); drawer.close();" mat-list-item>Logout</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button (click)="drawer.toggle()" mat-icon-button aria-label="Home button">
        <mat-icon>home</mat-icon>
      </button>
      <span>Consulate</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>